/**
 * Created by Bogdan on 3/20/16.
 */

body {
    padding-top: 200px;
    background: #ccc;
    font-family: "Arial";
}

.now-lang {
    position: relative;
    left: 50px;
}

.choose-lang {
    display: none;
    top: -195px;
    position: relative;
    background: #fff;
    width: 170px;
    border-radius: 5px;
    min-height: 60px;
    padding: 15px;
    -webkit-box-shadow: 0px 3px 13px -1px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 3px 13px -1px rgba(0,0,0,0.47);
    box-shadow: 0px 3px 13px -1px rgba(0,0,0,0.47);
}

.choose-lang:after {
    content: '';
    position: absolute;
    bottom: -36px;
    left: 80px;
    border: 18px solid transparent;
    border-top: 18px solid #fff;
}

.choose-lang:before {
    content: '';
    position: absolute;
    bottom: -36px;
    left: 80px;
    border: 18px solid transparent;
    border-top: 18px solid #000;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index: -1;
}

.now-lang a {
    color: #000;
    text-decoration: none;
    display: inline-block;
    position: relative;
    border-bottom: 1px solid transparent;
}

.now-lang a:after {
    content: '';
    position: absolute;
    top: 6px;
    margin-left: 8px;
    border: 4px solid transparent;
    border-top: 4px solid #a1a4ad;
}

.now-lang a:hover {
    cursor: pointer;
    border-bottom: 1px solid #ececec;
    color: #7f7f7f;
}

.lang ul, ul li {
    list-style-type: none;
}

.lang ul li {
    height: 30px;
    line-height: 30px;
}

.lang ul li.active {
    opacity: 0.6;
}

.lang ul li a {
    color: #4f5257;
    text-decoration: none;
    display: inline-block;
}

.lang ul li a img {
    margin-right: 4px;
}

.lang ul li a:hover {
    color: #f8b354;
}